[Desktop Entry]
Type=Application
Name=ST
Comment=Suckless simple-terminal emulator 
Icon=utilities-terminal
Exec=st
Categories=System;TerminalEmulator
